html, body { /* resetando o body */
    width: 100%;
    max-width: 100vw; /* 100 view width */
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(45, 40, 40);
    background: linear-gradient(90deg, rgba(45, 40, 40, 1) 0%, rgba(0, 0, 0,1) 100%);
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 700px;
    height: 350px;
    padding: 16px; /* aplica um espaçamento em todas as laterais, cima baixo direita esquerda*/
}

.grupo-tabela {
    margin-left: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 0.9em;
    font-family: sans-serif;

}

.roleta {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #090909;
    overflow: hidden;
}

.setor1,
.setor2,
.setor3,
.setor4 {
    position: absolute;
    width: 50%;
    height: 50%;
}

.setor1 {
    margin-top: 0%;
    margin-left: 0%;
    background-color: rgb(84, 71, 71);
}

.setor2 {
    margin-top: 0%;
    margin-left: 50%;
    background-color: rgb(230, 193, 193);
}

.setor3 {
    margin-top: 50%;
    margin-left: 0%;
    background-color: rgb(117, 97, 97);
}

.setor4 {
    margin-top: 50%;
    margin-left: 50%;
    background-color: rgb(181, 152, 152);
}

.elemento1 {
    margin-top: 55px;
    margin-left: 20px;
    transform: rotate(45deg);
}

.elemento2 {
    margin-top: 45px;
    margin-left: 0px;
    transform: rotate(-45deg);
}

.elemento3 {
    margin-top: 25px;
    margin-left: 20px;
    transform: rotate(-45deg);
}

.elemento4 {
    margin-top: 40px;
    margin-left: 0px;
    transform: rotate(45deg);
}

.resultado {
    color: rgb(255, 255, 255);
}

.botao {
    margin-left: 40%;
}

.roleta {
    margin-left: 8%;
    margin-top: 5%;
}